{% extends 'base.html' %}
{% block content %}
    <div style="display: flex; justify-content: space-between; align-items: center;">
        <h2 class="titulo-pagina">Minhas Perguntas</h2>
        <a href="{{ url_for('perguntas.fazer_pergunta') }}" class="btn btn-roxo">+ Fazer Nova Pergunta</a>
    </div>

    {% if perguntas %}
        {% for pergunta in perguntas %}
            <div class="box-ia" style="margin-bottom: 20px; border-left: 4px solid var(--roxo-principal);">
                <h3><a href="{{ url_for('perguntas.ver_pergunta', id=pergunta.id) }}" style="color: white; text-decoration: none;">{{ pergunta.titulo }}</a></h3>
                <span class="badge">{{ pergunta.disciplina }}</span>
                
                <div style="font-size: 0.9rem;">
                {% set resolvida = pergunta.respostas | selectattr('solucao', 'equalto', true) | list | length > 0 %}
                
                {% if resolvida %}
                    <span style="color: #4ade80; font-weight: bold;">✅ Status: Resolvida</span>
                {% else %}
                    <span style="color: var(--laranja-alerta); font-weight: bold;">⏳ Status: Aguardando Monitor</span>
                {% endif %}
            </div>
            </div>
        {% endfor %}
    {% else %}
        <div class="box-ia" style="text-align: center;">
            <p>Você ainda não fez nenhuma pergunta.</p>
        </div>
    {% endif %}
{% endblock %}